<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <title>User Registration</title>
    </head> 
    <body>
        <div class="jumbotron container">
        <h2 align="center">User Registration Page</h2>

		<form action="/" method="POST">
			<table class="table table-striped">
			<tbody>
				<tr>
					<td align="right">Email:</td>
					<td>
						<%if(typeof input=='object' && input.email){%>
							<input type="text" name="email" value="<%= input.email %>">
						<% } else {%>
							<input type="text" name="email" value="">
						<%}%>
					</td>
					<td><%if(typeof errors == 'object' && errors.email){%>
						<font style="color: red;"><%= errors.email.msg %></font>
						<% } %>
					</td>
				</tr>
				<tr>
					<td align="right">Password:</td>
					<td>
							<%if(typeof input=='object' && input.password){%>
								<input type="password" name="password" value="<%= input.password %>">
							<% } else {%>
								<input type="password" name="password" value="">
							<%}%>
					</td>
					<td>
						<%if(typeof errors == 'object' && errors.password){%>
							<font style="color: red;"><%= errors.password.msg %></font>
							<% } %>
					</td>
				</tr>
				<tr>
					<td align="right">Programming Skills:</td>
					<td>
						<%if(typeof input=='object' && input.nodejs){%>
						<input type="checkbox" name="nodejs" value="nodejs" checked	
								> Nodejs &nbsp
						<% } else {%>
							<input type="checkbox" name="nodejs" value="nodejs" 	
								> Nodejs &nbsp
						<% } %>
						<%if(typeof input=='object' && input.java){%>
						<input type="checkbox" name="java" value="java" checked
								> Java &nbsp
						<% } else {%>
							<input type="checkbox" name="java" value="java" 
								> Java &nbsp
						<% } %>
						<%if(typeof input=='object' && input.aspnet){%>
						<input type="checkbox" name="aspnet" value="aspnet" checked
								> ASP.NET &nbsp
						<% } else {%>
							<input type="checkbox" name="aspnet" value="aspnet" 
								> ASP.NET &nbsp
						<% } %>
						<%if(typeof input=='object' && input.php){%>
						<input type="checkbox" name="php" value="php" checked
								> PHP &nbsp
						<% } else {%>
							<input type="checkbox" name="php" value="php" 
								> PHP &nbsp
						<% } %>
					</td>
					<td>
						<%if(typeof input == 'object'&&!input.nodejs&&!input.java&&!input.aspnet&&!input.php){%>
							<font style="color: red;">You must choose at least one skill</font>
							<% } %>
					</td>
				</tr>
				<tr>
					<td align="right">Major</td>
					<td>
						<%if(typeof input == 'object' && input.major == 'cs'){%>
						<input type="radio" name="major" value="cs" checked
								> CS &nbsp
						<% } else {%>
							<input type="radio" name="major" value="cs"
								> CS &nbsp
						<% } %>
						<%if(typeof input == 'object' && input.major == 'se'){%>
							<input type="radio" name="major" value="se" checked
									> SE &nbsp
							<% } else {%>
								<input type="radio" name="major" value="se"
									> SE &nbsp
							<% } %>
					</td>
					<td>
						<%if(typeof errors == 'object' && errors.major){%>
							<font style="color: red;"><%= errors.major.msg %></font>
							<% } %>
					</td>
				</tr>
				<tr>
					<td align="right">Residency</td>
					<td>
						<select name="city">
						<%if(typeof input == 'object' && input.city == ""){%>
							<option value=""
								>-- Choose --</option>
							<option value="edmond"
								>Edmond</option>
							<option value="okc"
								>Oklahoma City</option>
							<option value="moore"
								>Moore</option>
							<option value="bethany"
								>Bethany</option>
							<option value="norman"
								>Norman</option>
						<% } else if(typeof input == 'object'&&input.city == "edmond") {%>
							<option value="edmond"
								>Edmond</option>
							<option value="okc"
								>Oklahoma City</option>
							<option value="moore"
								>Moore</option>
							<option value="bethany"
								>Bethany</option>
							<option value="norman"
								>Norman</option>
						<% } else if(typeof input == 'object'&&input.city == "okc") {%>
							<option value="okc"
								>Oklahoma City</option>
							<option value="edmond"
								>Edmond</option>
							<option value="moore"
								>Moore</option>
							<option value="bethany"
								>Bethany</option>
							<option value="norman"
								>Norman</option>
						<% } else if(typeof input == 'object'&&input.city == "moore") {%>
							<option value="moore"
								>Moore</option>
							<option value="okc"
								>Oklahoma City</option>
							<option value="edmond"
								>Edmond</option>
							<option value="moore"
								>Moore</option>
							<option value="bethany"
								>Bethany</option>
							<option value="norman"
								>Norman</option>
						<% } else if(typeof input == 'object'&&input.city == "bethany") {%>
							<option value="bethany"
								>Bethany</option>
							<option value="moore"
								>Moore</option>
							<option value="okc"
								>Oklahoma City</option>
							<option value="edmond"
								>Edmond</option>
							<option value="moore"
								>Moore</option>
							<option value="norman"
								>Norman</option>
						<% } else if(typeof input == 'object'&&input.city == "norman") {%>
							<option value="norman"
								>Norman</option>
							<option value="bethany"
								>Bethany</option>
							<option value="moore"
								>Moore</option>
							<option value="okc"
								>Oklahoma City</option>
							<option value="edmond"
								>Edmond</option>
							<option value="moore"
								>Moore</option>
							<% } else {%>
								<option value=""
								>-- Choose --</option>
							<option value="edmond"
								
								>Edmond</option>
							<option value="okc"
								
								>Oklahoma City</option>
							<option value="moore"
								
								>Moore</option>
							<option value="bethany"
								
								>Bethany</option>
							<option value="norman"
								
								>Norman</option>
								<% } %>
						</select>
					</td>
					<td>
						<%if(typeof errors == 'object' && errors.city){%>
							<font style="color: red;"><%= errors.city.msg %></font>
							<% } %>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" class="btn btn-primary">Register</button>
					</td>
				</tr>
			</tbody>
			</table>
		</form>

        </div> <!-- jumbotron -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>